web/src/main/resources/WorkFlowWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:WorkFlowWS/wsdl" xmlns:ns2="urn:WorkFlowWS/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="WorkFlowWS" targetNamespace="urn:WorkFlowWS/wsdl">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:WorkFlowWS/types" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:WorkFlowWS/types">
      <complexType name="CheckWorkFlow">
        <sequence>
          <element name="String_1" type="string" nillable="true"/>
          <element name="String_2" type="string" nillable="true"/>
          <element name="String_3" type="string" nillable="true"/></sequence></complexType>
      <complexType name="CheckWorkFlowResponse">
        <sequence>
          <element name="result" type="boolean"/></sequence></complexType>
      <complexType name="CheckWorkFlowDocument">
        <sequence>
          <element name="String_1" type="string" nillable="true"/>
          <element name="String_2" type="string" nillable="true"/></sequence></complexType>
      <complexType name="CheckWorkFlowDocumentResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <complexType name="CheckWorkFlowOperation">
        <sequence>
          <element name="String_1" type="string" nillable="true"/>
          <element name="String_2" type="string" nillable="true"/>
          <element name="String_3" type="string" nillable="true"/></sequence></complexType>
      <complexType name="CheckWorkFlowOperationResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <element name="CheckWorkFlow" type="tns:CheckWorkFlow"/>
      <element name="CheckWorkFlowResponse" type="tns:CheckWorkFlowResponse"/>
      <element name="CheckWorkFlowDocument" type="tns:CheckWorkFlowDocument"/>
      <element name="CheckWorkFlowDocumentResponse" type="tns:CheckWorkFlowDocumentResponse"/>
      <element name="CheckWorkFlowOperation" type="tns:CheckWorkFlowOperation"/>
      <element name="CheckWorkFlowOperationResponse" type="tns:CheckWorkFlowOperationResponse"/></schema></types>
  <message name="WorkFlowWSSEI_CheckWorkFlow">
    <part name="parameters" element="ns2:CheckWorkFlow"/></message>
  <message name="WorkFlowWSSEI_CheckWorkFlowResponse">
    <part name="result" element="ns2:CheckWorkFlowResponse"/></message>
  <message name="WorkFlowWSSEI_CheckWorkFlowDocument">
    <part name="parameters" element="ns2:CheckWorkFlowDocument"/></message>
  <message name="WorkFlowWSSEI_CheckWorkFlowDocumentResponse">
    <part name="result" element="ns2:CheckWorkFlowDocumentResponse"/></message>
  <message name="WorkFlowWSSEI_CheckWorkFlowOperation">
    <part name="parameters" element="ns2:CheckWorkFlowOperation"/></message>
  <message name="WorkFlowWSSEI_CheckWorkFlowOperationResponse">
    <part name="result" element="ns2:CheckWorkFlowOperationResponse"/></message>
  <portType name="WorkFlowWSSEI">
    <operation name="CheckWorkFlow">
      <input message="tns:WorkFlowWSSEI_CheckWorkFlow"/>
      <output message="tns:WorkFlowWSSEI_CheckWorkFlowResponse"/></operation>
    <operation name="CheckWorkFlowDocument">
      <input message="tns:WorkFlowWSSEI_CheckWorkFlowDocument"/>
      <output message="tns:WorkFlowWSSEI_CheckWorkFlowDocumentResponse"/></operation>
    <operation name="CheckWorkFlowOperation">
      <input message="tns:WorkFlowWSSEI_CheckWorkFlowOperation"/>
      <output message="tns:WorkFlowWSSEI_CheckWorkFlowOperationResponse"/></operation></portType>
  <binding name="WorkFlowWSSEIBinding" type="tns:WorkFlowWSSEI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="CheckWorkFlow">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation>
    <operation name="CheckWorkFlowDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation>
    <operation name="CheckWorkFlowOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation></binding>
  <service name="WorkFlowWS">
    <port name="WorkFlowWSSEIPort" binding="tns:WorkFlowWSSEIBinding">
      <soap:address location="http://glororan.campus.ncl.ac.uk:8084/CARMENWS/WorkFlowWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/></port></service></definitions>